* {
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1366px;
    min-width: 600px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.slider {
    min-height: 360px;
    background-image: url(img/hero-back.svg);
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
    padding-right: 69px;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}
.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.slider-title {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    padding-top: 150px;
    padding-bottom: 44px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.product-menu  {
    list-style-type: none;
    width: 1366px;
}
.menu-list-h2-active {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-decoration: none;
    padding-left: 7px;
    float: left;
}

.menu-list-h3,
.menu-list-h4,
.menu-list-h5,
.menu-list-h6 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-decoration: none;
    padding-left: 30px;
    float: left;
}

.menu-list-h7 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-decoration: none;
    padding-left: 30px;
}

.product-11,
.product-21,
.product-31,
.product-41,
.product-5,
.product-6 {
    float: left;
    margin-bottom: 30px;
}

.foto-11 {
    margin-top: 30px;
}
.product-21,
.product-5 {
    margin-left: 30px;
    margin-right: 30px;
}

.znak {
    color: #212121;
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.bi-arrow-repeat {
    padding-top: 41px;
    padding-bottom: 140px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.button img {
    width: 9px;
    height: 12px;
    margin-left: 22px;
}
.button:hover {
    background-color: darkgrey;
}

.promo {
    display: inline-block;
}

.padding-site-promo {
    padding-left: 51px;
    
}

.promo-text {
    display: inline-block;
    background-image: url(img/promo-img1.jpg);
    width: 683px;
    height: 683px;
    display: inline-block;
    float: left;
}

.promo-text1 {
    background-image: url(img/promo-img.jpg);
    width: 683px;
    height: 683px;
    display: inline-block;
}

.promo-text-tranding,
.promo-text1-tranding {
    margin-top: 228px;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.promo-text-h2,
.promo-text1-h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.promo-text-content,
.promo-text1-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    width: 374px;
}

.button-promo {
    margin-left: 50px;
    margin-top: 34px;
}

.footer {
    background-image: url(img/footer-back.svg);
    width: 1366px;
    height: 384px;
    display: inline-block;
}

.contacts {
    display: inline-block;
    float: left;
}
.contacts-us {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-top: 120px;
    display: inline-block;
}

.adress {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    width: 231px;
    padding-top: 18px;
    
}

.information {
   float: left;
}
.information-useful {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-top: 120px;
    padding-left: 60px; 
}

.information-sales {
    display: inline-block;
    width: 140px;
    padding-top: 12px;
    list-style-type: none;
}

.information-link {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    display: inline-block;
    width: 200px;
    padding-left: 60px;
    list-style-type: none;
    text-decoration: none;
}

.information-link:hover {
    color: blue;
}
.information-architect {
    list-style-type: none;
    display: inline-block;
    width: 193px;
    padding-left: 100px;
}

.stay {
    margin-left: 800px;
    padding-top: 120px;
}

.stay-lets {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.stay-text {
   color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    width: 373px;
    padding-top: 12px;
    padding-bottom: 26px;
}

input {
    position: static;
    border: 1.0px solid #d9dee1;
    width: 370px;
    height: 48px;
    padding-left: 19px;
}

.stay-img-text {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    float: left;
    padding-left: 19px;
    position: absolute;
}

.stay-img-text1 {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 335px;
    padding-top: 10px;
}

.footer-finish {
    float: left;
    width: 100%;
}
.copiright {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    display: inline-block;
    padding-top: 39px;
    padding-bottom: 20px;
    width: 380px;
    float: left;
}

.social {
   color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase; 
    width: 129px;
    float: left;
    padding-top: 39px;
    padding-bottom: 20px;
    padding-left: 158px;
}

.social-list {
    display: inline-block;
    list-style-type: none;
}

.social-link {
    font-size: 28px;
    color: #6c6c6c;
    text-decoration: none;
}

.all {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    float: left;
    padding-top: 39px;
    padding-bottom: 20px;
    padding-left: 135px;
    width: 360px;
}